<div id="footer">
  <div class="container">
    <p class="text-muted">
      <br><br>
      <span class="hidden-xs pull-left">
        <a href="http://www.brilliantlabs.ca/" title="Inspiring Creativity and Innovation">BrilliantLabs.ca</a> |
        <a href="https://www.brilliantlabs.ca/blog" title="Brilliant Labs Blog">Blog</a> |
        <a href="http://www..brilliantlabs.ca/learn" title="Tutorials">Learn</a> |
        <a href="/docs" title="BL Cloud Documentation">Documentation</a> |
        <a href="/docs/tutorials/" title="Tutorials on how to use BL Cloud Services">Tutorials</a> |
          </span>
      <span class="pull-right">
        &copy;<%= Time.now.year %> <a href="https://cloud.brilliantlabs.app" title="BL Cloud Service">BL Cloud</a> - Powered by <a href="http://www.iobridge.com" target="_blank">ioBridge</a>
      </span>

    </p>
  </div>
</div>
