<div id="home-top" style = "background: url('/assets/images/BrilliantLabs_address_v2.png') no-repeat;">

  <div id="home-top-center">
    <div id="home-motto">
      <h1 style="font-weight:300; padding:1rem 3rem; border-radius:30px; margin:auto;width: fit-content !important; background: rgba(174,179,182,0.28); color:white !important">Brilliant Labs IoT Cloud</h1>    </div>

    <br><br>

  </div>

</div>

<br><br>

<div class="container">

  <div class="row">

    <%= render 'layouts/flash' %>

    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-list fa-fw fa-lg"></i>
            Cloud Features
          </h3>
        </div>
        <div class="panel-body panel-home">
          <ul>
<<<<<<< HEAD
            <li>Integration with the bboard</li>
=======
            <li>Create b.Board powered IoT devices</li>
>>>>>>> origin/bl-cloud-v3
            <li>Real-time data collection</li>
            <li>Data visualizations</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-gears fa-fw fa-lg"></i>
            Integrate
          </h3>
        </div>
        <div class="panel-body panel-home">
          <ul>
<<<<<<< HEAD
            <li><a href="https://code.brilliantlabs.app" target="_blank">bBoard</a> / <a href="http://realtime.io/" target="_blank">bBoard</a></li>
            <li><a href="http://community.thingspeak.com/tutorials/arduino/using-an-arduino-ethernet-shield-to-update-a-thingspeak-channel/" target="_blank">Arduino</a></li>
            <li>Raspberry Pi</li>
            <li><a href="http://community.thingspeak.com/tutorials/electric-imp/data-storage-and-retrieval-with-thingspeak/" target="_blank">Electric Imp</a></li>
            <li>Mobile / Web Applications</li>
            <li>Social Networks</li>
            <li><a href="http://www.mathworks.com/hardware-support/thingspeak.html" target="_blank">Data Analytics with MATLAB</a></li>
=======
            <li><a href="http://www.brilliantlabs.ca/bboard" target="_blank">b.Board</a></li>
           
            <li><a href="https://code.brilliantlabs.app" target="_blank">b.Board IDE</a></li>
            
>>>>>>> origin/bl-cloud-v3
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-comments fa-fw fa-lg"></i>
            Connect With Us
          </h3>
        </div>
        <div class="panel-body panel-home">
          <ul>
            <li><a href="https://www.brilliantlabs.ca/blog" title="Brilliant Labs">Blog</a></li>
            <li><a href="/docs" title="BL Cloud API and Apps Documentation">Documentation</a></li>
            <li><a href="https://www.brilliantlabs.ca/learn" title="Brilliant Labs Tutorials">Tutorials</a></li>
            <li><a href="mailto:info@brilliantlabs.ca" title="Contact Brilliant Labs">Questions</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <br><br>

<<<<<<< HEAD

=======
>>>>>>> origin/bl-cloud-v3
</div>

